
<!-- (click)="enter_oferta(lista_dv_cardOferta.nombreEmpresa,lista_dv_cardOferta._id_nubOfertaEmpresa)"  -->
<!-- [routerLink]= "['/inicioEstudiante/ofertas/', empresa.nombreEmpresa, numeroNub]"  -->
<div class="container-fluid alto-max" role="button" 
(click)="irAOferta()"
>
    <div class="row alto-max">
        <div class="col-8 my-3 d-flex flex-column justify-content-between alto-max">
            <div>
                <h4>{{oferta.titulo}}</h4>
                <p>{{empresa.nombreEmpresa}} | {{oferta.pais}}, {{oferta.ciudad}}</p>
            </div>
            <div>
                <small>Fecha : {{oferta.fecha_publicacion}}</small>
            </div>
        </div>
        <div class="col-4  col-img d-flex align-items-center">
            <img src={{empresa.imgEmpresa}} 
            alt={{oferta.titulo}}
            class="m-2 img-oferta  animated animate__fadeIn">
            <!-- <p>{{numeroNub}} </p> -->
        </div>
    </div>
</div>


